

.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
    margin: 0 6px 6px;
    background-color: burlywood;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: darkred;
}

.active {
    color: black;
}

